<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<h2>SignUp Form </h2>
<form novalidate #userform="ngForm" (ngSubmit)="login(uname.value,password.value)"   >
  <div class="form-group">
    <label for="formGroupExampleInput">Enter Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" #uname=ngModel name="name" [(ngModel)]="user.name" required>
    <p *ngIf="uname.invalid && uname.dirty">Name is Mandatory </p>
  </div>
   
  <div class="form-group">
    <label for="formGroupExampleInput2">Enter Password</label>
    <input type="password" class="form-control" name="contact" #password=ngModel [(ngModel)]="user.password" id="formGroupExampleInput2" minlength="8" maxlength="10" required  >
    <p *ngIf="password.errors?.minlength">8 chars pls</p>
    <p *ngIf="password.errors?.required">Mandatory</p>
    
  </div>

  <button type="submit"[disabled]="userform.invalid" class="btn btn-primary">Submit</button>
</form>
